<div class="text-center">
  <form class="form-signin" [formGroup]="form" (ngSubmit)="login()">
    <img
      class="mb-4"
      src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
    <input
      type="text"
      formControlName="username"
      class="form-control"
      placeholder="Usename"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
    />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="button"
      (click)="login()"
    >
      Login
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; @2020</p>
  </form>
</div>
